

#nav{
 position: absolute;
    top: 10%;
    left: 10%;
    padding: 3%;
    background-color: rgb(247, 246, 245);
    box-shadow: 0px 0px 35px 35px rgb(10, 54, 157);
   
  
}

canvas {
  display: block;
  position: fixed;
  z-index: -1 !!important;
  pointer-events: none;
}

#allinfo{
   
    
    
}



#nameTab, #aboutTab, #workTab, #resumeTab{
    display: none;
   
}

#nameContent, #aboutContent, #workContent, #resumeContent{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40%;
    height: 70%;
    padding: 3%;
    background-color: rgb(247, 246, 245);
    box-shadow: 0px 0px 35px 35px rgb(10, 54, 157);
    overflow: scroll;
}

#resumeContent{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 50%;
    height: 60%;
    background-color: rgb(58, 81, 232);
    box-shadow: 0px 0px 35px 35px rgb(58, 81, 232);
    overflow: scroll;
    
}

#aboutContent{
    font-family: 'Amarante', cursive;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3px;
  }

  .grid-item {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Amarante', cursive;
  }