

#nav{
 position: absolute;
 top: 8%;
 left: 5%;
 padding: 3%;
 background-color: white;
 
 font-size: 100%;
   background-color: rgba(255,255,255, .8);
    box-shadow: 0px 0px 35px 35px rgb(244, 169, 153); 
}

#font{
  font-size: 120%;
}


.nav{
  transition: 0.3s;
}

.nav:hover{
  color: rgb(72, 32, 110);
  text-decoration: underline;
  text-decoration-color: rgb(64, 14, 66);
}

.home{
  color: red;
  display: none;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1 !!important;
  pointer-events: none;
}

.self{
  display:inline-block;
  vertical-align:top;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.names{
  text-align: center;
}




.paint {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paintv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.drawh {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drawv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  object-fit: contain;
}


#nameTab, #aboutTab, #workTab, #resumeTab, #workeTab{
    display: none;
   
}

#nameContent, #aboutContent, #workContent, #resumeContent, #workeContent{
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 35%;
    width: 60%;
    height: 80%;
    padding: 3%;
    background-color: rgba(255,255,255, .8);
    overflow: scroll;
}



#aboutContent


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
  }

  .grid-item {
    padding: 5px;
    font-size: 15px;
    text-align: center;
    
  }







@media only screen and (max-device-width: 500px) {
  
  #nav{
 position: absolute;
 top: 5%;
 left: 5%;
 padding: 3%;
 background-color: transparent;
 
 font-style: bold;
 font-size: 100%;
 box-shadow: 0px 0px 0px 0px rgb(244, 169, 153); 
}
  
  canvas {
  display: none;
  
}
  
  .home{
  color: red;
  display: block;
  text-align: center;
}
  
 #workContent, #nameContent, #workeContent{
  
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 6%;
    width: 82%;
    height: 80%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    
    overflow: scroll;
}
  
  #resumeContent, #aboutContent{
   
    position: absolute;
    top: 8%;
    left: 6%;
    width: 82%;
    height: 80%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    box-shadow: 0px 0px 35px 35px rgb(244, 169, 153); 
  }
  
  .paint {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.paintv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drawh {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.drawv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

    }