.font200 {
  font-size: 200%;
  width: 100%;
  text-align: left;
}

.font160 {
  font-size: 160%;
}

.font120 {
  font-size: 120%;
}

.home {
  color: red;
  display: none;
}

.tab-content {
  position: absolute;
  padding-top: max(8vh, 32px);
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 60vw;
  height: 88vh;
  padding-bottom: 3vh;
  padding-left: 40%;
  padding-right: max(8vw, 32px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* adds spacing between items */
}

@media only screen and (max-device-width: 500px) {
  .home {
    color: red;
    display: block;
    text-align: center;
  }

  .tab-content {
    display: none;
    position: absolute;
    top: 8%;
    left: 6%;
    width: 82%;
    max-width: 82%;
    height: 80%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
  }
}