.nav-menu {
    position: absolute;
    top: max(8vh, 32px);
    left: max(8vw, 32px);
    z-index: 999;
}

.nav-title {
    font-size: 200%;
}

.nav-divider {
    width: 100%;
    border: none;
    border-top: 2px solid black;
}

.nav-section {
    margin-bottom: 36px;
}

.nav-section-header {
    font-size: 125%;
    margin-bottom: 4px;
}

.nav-menu-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.nav-item {
    display: inline-block;
    font-size: 1rem;
    padding: 2px 0;
    transition: color 0.1s, transform 0.2s;
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(72, 32, 110);
    text-decoration: underline;
    text-decoration-color: rgb(64, 14, 66);
    transform: scale(1.08);
}

.nav-item.selected {
    color: rgb(72, 32, 110);
    text-decoration: underline;
    text-decoration-color: rgb(72, 32, 110);
}

@media only screen and (max-device-width: 500px) {
    .nav-menu {
        position: absolute;
        top: max(8vh, 32px);
        left: 5%;
        padding: 3%;
        z-index: -1;
        background-color: rgb(255, 255, 255);
    }

    .nav-title {
        font-size: 1.3rem;
    }

    .nav-section-header {
        font-size: 1rem;
    }
}