#font {
  font-size: 200%;
}

#nav-menu {
  position: absolute;
  top: 8%;
  left: 5%;
  padding: 3%;
  background-color: white;
  font-size: 100%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 35px 35px rgb(219, 200, 175);
}

.nav-menu-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nav-item {
  /* shrink to content width */
  display: inline-block;
  transition: 0.3s;
}

.nav-item:hover {
  color: rgb(72, 32, 110);
  text-decoration: underline;
  text-decoration-color: rgb(64, 14, 66);
}

.home {
  color: red;
  display: none;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1 !important;
  pointer-events: none;
}

.self {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.names {
  text-align: center;
}

.paint {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paintv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.drawh {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drawv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

#infoContent,
#cvContent,
#paintingContent,
#drawingContent,
#printContent,
#projectsContent {
  position: absolute;
  top: 2%;
  left: 35%;
  width: 60%;
  height: 80%;
  padding: 3%;
  background-color: rgba(255, 255, 255);
  overflow: scroll;
}

#infoContent .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
}

.grid-item {
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-device-width: 500px) {

  #nav-menu {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 3%;
    background-color: transparent;
    font-style: bold;
    font-size: 100%;
    box-shadow: 0px 0px 0px 0px rgb(235, 233, 232);
  }

  canvas {
    display: none;

  }

  .home {
    color: red;
    display: block;
    text-align: center;
  }

  #infoContent,
  #cvContent {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 82%;
    height: 80%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    box-shadow: 0px 0px 35px 35px rgb(244, 169, 153);
  }

  #paintingContent,
  #drawingContent,
  #printContent,
  #projectsContent {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 82%;
    height: 80%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
  }

  .paint {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }

  .paintv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .drawh {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }

  .drawv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}